body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background:   #00C896 ;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


label{
    font-family: 'Kaisei Opti';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 52px;

color: #000000;


}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 50vh;

    background: #CCC5C5 0% 0% no-repeat padding-box;
    box-shadow: none;
    border: 1px solid #707070;
    
}

button {
    background: #CCC5C5 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    

    width: 50%;
    
    color: rgb(0, 0, 0);
    font-family: 'Kaisei Opti';
    font-style: normal;
font-weight: 400;
    margin: 3em;
    line-height: 2.5em;
}

input {
    text-align: center;
    background-color:linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    font-family: 'Kaisei Opti';
    font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 15px;

color: rgba(0, 0, 0, 0.5);

    border: none;
    
    padding: 1em;
    margin: 1em;
    width: 50%;
}


@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
    }

    form {
        margin: auto;
    }

    img {
        height: 7em;
        margin: 2em;
    }
}


